body{
    background-image: url("game_background.png");
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;

 }

 #artist {
     position:absolute; top:0%; left:43%;
 }

 #eminem {
     margin-top: 0px;
 }