body {
    background-color: antiquewhite;
    color: darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;

}

h1{
    color:black
}